@page "{id:int}"
@model AnimeCollection.Pages.Personnages.DetailsModel

@{
    ViewData["Title"] = "Détails du personnage";
}

<section class="details-card">
    <div class="details-image-container">
        @if (!string.IsNullOrEmpty(Model.Personnage.ImagePath))
        {
            <img src="@Model.Personnage.ImagePath"
                 alt="@Model.Personnage.Name"
                 class="details-image" />
        }
    </div>

    <div class="details-content">
        <p class="details-kicker">Fiche personnage</p>

        <h1>@Model.Personnage.Name</h1>

        <p>
            <strong>Animé :</strong>
            @Model.Personnage.AnimeTitle
        </p>

        <p>
            <strong>Statut :</strong>
            @Model.Personnage.Status
        </p>

        <p class="details-description">
            @Model.Personnage.Description
        </p>

        @if (User.Identity?.IsAuthenticated == true)
        {
            <form method="post"
                  asp-page-handler="ToggleFavorite"
                  asp-route-id="@Model.Personnage.Id">

                <button class="btn" type="submit">
                    @(Model.IsFavorite ? "Retirer des favoris" : "Ajouter aux favoris")
                </button>
            </form>
        }

        <div class="details-actions">
			@if (User.IsInRole("Admin"))
			{
            <a class="btn-secondary"
               asp-page="Edit"
               asp-route-id="@Model.Personnage.Id">
                Modifier
            </a>
			}
            <a class="btn-secondary"
               asp-page="Index">
                Retour
            </a>
        </div>
    </div>
</section>